.aBody{
    background-image: url(/kepek/WebsiteW03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
}
#jatekValasztas{
    text-align: center;
    
}
.tableBe {
    margin:auto;
    padding-top: 100px;
    
}
#gombjaim{
    
    
}
#konnyu{
    color: grey;
    border: double rgba(155, 155, 155, 0.303) 2px;
}
#kozepes{
    color: grey;
    border: double rgba(155, 155, 155, 0.303) 2px;
    
}
#nehez{
    color: grey;
    border: double rgba(155, 155, 155, 0.303) 2px;
}

